package components

templ Footer() {
	<footer class="footer">
		<div class="content has-text-centered">
			<p>2024 © <a href="/about">Marius Iversen</a></p>
			<p><a href="https://github.com/P1llus/chasenet">Source</a> released under Apache-2.0</p>
		</div>
	</footer>
}
